.container {
    width: 15vw;
    height: 40vh;
    color: #C86C3E;
    background: #CED0D5;
    border: 2px solid #C33E3E;
    border-radius: 8px;
    text-decoration: none;
    overflow: hidden;
}

@media (max-width: 1200px) {
    .container {
        width: 18vw;
        height: 32vh;
    }
}

@media (max-width: 1000px) {
    .container {
        width: 22vw;
        height: 37vh;
    }
}

@media (max-width: 768px) {
    .container {
        width: 28vw;
    }
}

@media (max-width: 450px) {
    .container {
        width: 50vw;
        height: 40vh;
    }
}

@media (max-width: 350px) {
    .container {
        width: 55vw;
        height: 58vh;
    }
}

.container:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.title {
    font-family: Verdana;
    font-weight: 900;
    font-size: 1.3rem;
    margin-top: 7px;
    margin-bottom: 6px;
}

.image {
    width: 80%;
    height: 70%;
    position: relative;
    object-fit: contain;
}

.description {
    color: #8D2B29;
    font-size: 0.8rem;
    font-weight: 700;
    text-align: start;
    margin-top: 10px;
    padding-left: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: Verdana;
}