.container {
    width: 15vw;
    height: 42vh;
    color: #C86C3E;
    background: #CED0D5;
    border: 2px solid #C33E3E;
    border-radius: 8px;
    text-decoration: none;
}

.container:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.title {
    font-family: Verdana;
    font-weight: 900;
    font-size: 1.3rem;
    margin-top: 7px;
    margin-bottom: 6px;
}

.image {
    width: 80%;
    height: 70%;
    position: relative;
    object-fit: contain;
}

.description {
    position: relative;
    color: #8D2B29;
    font-size: 0.8rem;
    font-weight: 700;
    text-align: start;
    margin-top: 10px;
    padding-left: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: Verdana;
}