@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

.container {
    background: #F8DCBC;
    color: #C33E3E;;
    position: relative;
    text-align: center;
    top: 12vh;
    margin: 0 10% 12% 10%;
    padding: 4vh;
    border-radius: 14px;
}

.title {
    font-size: 2rem;
    font-family: 'Sigmar One', cursive;
    position: relative;
    bottom: 20px;
}

.addMovieButton {
    position: absolute;
    top: 12px;
    right: 17vw;
    padding: 6px;
    border: 2px solid #42922A;
    border-radius: 10px;
    background: #A3E765;
    color: white;
    font-size: 0.9rem;
    font-weight: 800;
    text-decoration: none;
    font-family: Avenir-Roman, sans-serif;
}

.addMovieButton:hover {
    cursor: pointer;
    background: #E5EBDF;
    color: #5D8832;
}

.addMovieButton span {
    font-size: 15px;
    margin-left: 2px;
}

.articlesContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
}

@media (max-width: 768px) {
    .articlesContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}