@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.container {
    position: relative;
    top: 16vh;
    margin: 0 10% 12% 10%;
    padding: 13px;
    background: #F8DCBC;
    border-radius: 12px;
    display: flex;
}

.image {
    height: 100%;
    width: 30vw;
    object-fit: cover;
    border-radius: 12px;
}   

@media (max-width: 700px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .image {
        object-fit: cover;
        width: 45vw;
    }
}

.descriptionContainer {
    margin: 3vh 3vw;
    border-radius: 12px;
    background: white;
    border: 2px solid #000;
    padding-bottom: 15px;
}

.title {
    text-align: center;
    color: #C33E3E;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.3rem;
}

.aboutMovie {
    margin-left: 2vw;
}

.description {
    margin-top: 1vh;
    margin-right: 8px;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.3rem;
}

.creator {
    margin-top: 2vh;
}

.creator span {
    font-weight: bold;
}

.likeButton {
    margin-top: 3vh;
    font-size: 1rem;
    padding: 7px;
    border: 2px solid #101AA7;
    border-radius: 7px;
    background: #1778E2 ;
    color: #FFF;
}

.likeButton:hover {
    cursor: pointer;
}

.creatorButtonsContainer {
    margin-top: 3vh;
}

.editButton {
    margin-left: 12px;
    font-size: 1rem;
    padding: 7px;
    border-radius: 7px;
    border: 2px solid #865C0E;
    background: #F4A91E;
    color: #FFF;
    text-decoration: none;
}

.removeButton {
    margin-left: 12px;
    font-size: 1rem;
    padding: 7px;
    border-radius: 7px;
    border: 2px solid #A21212;
    background: #F90E0E;
    color: #FFF;
}

.removeButton:hover {
    cursor: pointer;
}